page-quotes {
    background: map-get($colors , dark);
    opacity: 0.5;
    .aster { 
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    .head {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
    ion-slides {
        margin-top: -15vw;
    }
    .fonty {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10vw;
    }
    .quot {
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 2vw;
    }
}
