<!--
  Generated template for the GroundRulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <!-- <ion-title>groundRules</ion-title> -->
    <button ion-button menuToggle>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
  </ion-navbar>
  <div class="logo-container">
    <div class="header-phase">
      <p class="phase">Ground Rules</p>
      <!-- <p>{{convertSecondstoTime(currentTimeConsumedInSeconds)}} consumed</p> -->
    </div>
    <div class="logo">
        <img src="assets/imgs/leader.png" alt="">
        <p class="logo-text">LeaderCOACH&trade;</p>
    </div>
</div>
<div class="colors">
    <div *ngFor="let rule of rules; let i = index;" [ngStyle]="{'width': activeIndex == i ? '50%' : defaultWidthSection+'%', 'background-color': rule.color}" class="color">
        <span [ngStyle]="{'color': rule.color === 'yellow' ? 'black' : 'white'}" *ngIf="activeIndex == i">{{rule.title}}</span>
    </div>
   

</div>
<!-- <div class="totalTime">
    <div class="timer" [ngStyle]="{'background-color': sections[activeIndex]?.color, 'width' : getPercentWidthSectionTime(sections[activeIndex]?.time,sections[activeIndex]?.timeTotal) +'%'}"></div>
</div> -->

</ion-header>

<ion-content >
    <div class="swipercontainer" (swipe)="swipeEvent($event)">
        <!-- <div class="logo-container">
            <div class="logo">
                <img src="assets/imgs/leader.png" alt="">
                <p class="logo-text">LeaderCOACH</p>
            </div>
        </div> -->
         
            <!-- <h5 text-center> Choose 1 or 2 per phase. </h5> -->
            <ion-list margin-top [ngStyle]="{'background-color': rules[activeIndex]?.color}">
              <!-- <ion-item-divider >
                  <ion-label>
                  {{rules[activeIndex]?.title}}
                    </ion-label>
              </ion-item-divider> -->
              <ion-item  [ngStyle]="{'background-color': rules[activeIndex]?.color}" *ngFor="let rule of rules[activeIndex]?.rules">
                <!-- <ion-checkbox  [disabled]="groundRule.participation_order.length >= 2 && !rule?.isChoose" (ionChange)="onChange(rule.isChoose,rule.text,'participation_order')" [(ngModel)]="rule.isChoose" item-left checked="isChecked"></ion-checkbox> -->
                <ion-checkbox [color]="rules[activeIndex]?.color === 'yellow' ? 'dark' : 'light'"  (ionChange)="onChange(rule.isChoose,rule.text)" [(ngModel)]="rule.isChoose" item-left checked="isChecked"></ion-checkbox>
                <p  [ngStyle]="{'color': rules[activeIndex]?.color === 'yellow' ? 'black' : 'white'}" class="rule" item-right>{{rule.text}}</p>
              </ion-item>
              <!-- <ion-item-divider margin-top>
                  <ion-label>
                    CURIOSITY + IMAGINATION
                    </ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let rule of rules?.curiosity_imagination">
                <ion-checkbox [disabled]="groundRule.curiosity_imagination.length >= 2 && !rule?.isChoose" (ionChange)="onChange(rule.isChoose,rule.text, 'curiosity_imagination')" [(ngModel)]="rule.isChoose" item-left checked="isChecked" ></ion-checkbox>
                <p class="rule" item-right>{{rule.text}}</p>
              </ion-item>
              <ion-item-divider margin-top>
                  <ion-label>
                      RESPECT + INCLUSION
                    </ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let rule of rules?.respect_inclusion">
                <ion-checkbox  [disabled]="groundRule.respect_inclusion.length >= 2 && !rule?.isChoose" (ionChange)="onChange(rule.isChoose,rule.text, 'respect_inclusion')" [(ngModel)]="rule.isChoose" item-left checked="isChecked" ></ion-checkbox>
                <p class="rule" item-right>{{rule.text}}</p>
              </ion-item>
              <ion-item-divider margion-top>
                  <ion-label>
                      CHALLENGE + CRITIQUE
                    </ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let rule of rules?.challenge_critique">
                <ion-checkbox [disabled]="groundRule.challenge_critique.length >= 2  && !rule?.isChoose" (ionChange)="onChange(rule.isChoose,rule.text, 'challenge_critique')" [(ngModel)]="rule.isChoose" item-left checked="isChecked" ></ion-checkbox>
                <p class="rule" item-right>{{rule.text}}</p>
              </ion-item> -->
            </ion-list>
          <!-- </ion-item-group> -->
          <!-- <ion-list >
              <ng-container *ngIf="rules.length > 0; else elseTemplate">
                  <ion-item *ngFor="let rule of rules">
                      {{rule.text}}
                  </ion-item>
              </ng-container>
              <ng-template #elseTemplate>
                  <ion-item>
                    No rules yet, add now.
                  </ion-item>
              </ng-template>
              
      
            </ion-list> -->
    </div>
</ion-content>

<ion-footer text-center color="primary">
    <!-- <div class="input-rules">
      <ion-item>
        <ion-label stacked > Add rules</ion-label>
        <ion-input [(ngModel)]="rule" type="text" ></ion-input>
      </ion-item>
      <button ion-button (click)="addrules()" >
        Add
      </button>
    </div> -->
    <!-- <div style="height: 50px;"> -->
      <!-- <ion-row>
        <ion-col>
         <button color="light" (click)="navCtrl.pop()" ion-button clear>CANCEL</button>
        </ion-col>
        <ion-col>
          <button color="light"  (click)="save()" ion-button clear>SAVE</button>
        </ion-col>
      </ion-row> -->
    <!-- </div> -->
    <ion-row class="navigation" text-center>
      <ion-col>
        <button (click)="prevSection()" ion-button  clear icon-only >
          <ion-icon color="light" name="rewind"></ion-icon>
        </button>
      </ion-col>
      <!-- <ion-col>
        <ng-container *ngIf="isPause; else elsePauseTemplate">
            <button (click)="play()" large ion-button  clear icon-only >
                <ion-icon  color="light" name="play"></ion-icon>
            </button>
        </ng-container>
        <ng-template #elsePauseTemplate>
            <button  (click)="pause()" large ion-button  clear icon-only >
                <ion-icon  color="light" name="pause"></ion-icon>
            </button>
        </ng-template>
        
         
        </ion-col> -->
        <ion-col>
              <ng-container *ngIf="rules.length-1 == activeIndex; else elseForwardTemplate">
                  <button (click)="save()" color="light" (click)="nextSection()"  ion-button clear >
                      Done
                    </button>
              </ng-container>
              <ng-template #elseForwardTemplate>
                    <button (click)="nextSection()"  ion-button clear icon-only >
                        <ion-icon color="light" name="fastforward"></ion-icon>
                      </button>
              </ng-template>
              
              
          </ion-col>
    </ion-row>
</ion-footer> 