page-ground-rules {
    .input-rules{
        padding: 16px;
        background-color: #ffffff;
    }
    .item.item-md .checkbox-md {
        margin: 10px;
    }
    .rule{
        width: 300px;
    }
}
