<ion-menu [swipeEnabled]="false" [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="menu-bg-color">
    <div class="menu-list">
   <ion-list no-lines>
     <p>Get questions to help you…</p>
     <hr>
        <button menuClose ion-item *ngFor="let p of pagesCoach" (click)="openPage(p)">
          {{ p.title }}
        </button>
      <p>About LeaderCOACH</p>
      <hr>
        <button menuClose ion-item *ngFor="let p of pagesLeader" (click)="openPage(p)">
          {{ p.title }}
        </button>
      <p>Contact Us</p>
      <hr>
        <button menuClose ion-item *ngFor="let p of pagesContact" (click)="openPage(p)">
          {{ p.title }}
        </button>
      <p menuClose (click)="openPage()" >Quotes</p>
      <hr>
      <p>Settings</p>
      <hr>
      <div >
        <ion-item class="toggle">
            <ion-toggle  item-start checked="true"></ion-toggle>
            <ion-label class="it-toggle">Auto-advance questions?</ion-label>
          </ion-item>
          <ion-item class="toggle">
            <ion-toggle item-start checked="true" ></ion-toggle>
            <ion-label class="it-toggle">Hide/show timer</ion-label>
          </ion-item>
        </div>
      </ion-list>
  </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>