<ion-menu [swipeEnabled]="false" [content]="content">
  <ion-content class="menu-bg-color">
    <div class="menu-list">
   <ion-list no-lines>
     <p class="fonty">Get questions to help you…</p>
     <hr>
        <button menuClose ion-item *ngFor="let p of pagesCoach" [ngStyle]="{'border-bottom': activeNav == p.type ? '1px solid rgba(0, 0, 0, 0.3)' : 'none', 'font-weight': activeNav == p.type ? '800': 'normal'}" (click)="openPage(p , p.type)">
          {{ p.title }}
        </button>
      <p class="fonty">About LeaderCOACH&trade;</p>
      <hr>
        <button menuClose ion-item *ngFor="let p of pagesLeader" (click)="openPage(p)">
          {{ p.title }}
        </button>
      <p class="fonty">Contact Us</p>
      <hr>
        <button menuClose ion-item *ngFor="let p of pagesContact" (click)="openPage(p)">
          {{ p.title }}
        </button>
      <p class="fonty" menuClose (click)="openPage('QuotesPage')" >Quotes</p>
      <hr>
      <p class="fonty">Settings</p>
      <hr>
      <div >
        <ion-item class="toggle">
            <ion-toggle (ionChange)="updateQuestion($event)" item-start checked="true"></ion-toggle>
            <ion-label class="it-toggle">Auto-advance questions?</ion-label>
          </ion-item>
          <ion-item class="toggle">
            <ion-toggle (ionChange)="updateTimer($event)" item-start checked="true" ></ion-toggle>
            <ion-label class="it-toggle">Hide/show timer</ion-label>
          </ion-item>
        </div>
      </ion-list>
  </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>